// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users {
  margin:0px;
  h1 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
  }
}
